html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: #b30b0b;
    text-decoration: underline;
}

header {
    background-color: rgb(237, 237, 200);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ccc;
}

a {
    color: blue;
    text-decoration: none;
    background-color: beige;
    text-align: center;

    margin: 1rem auto 1rem auto;
    padding: 1rem;

    display: block;
    width: 30%;
    border-radius: 0.5rem;
    border: 1px solid #000;
}

a:hover {
    background-color: #f0f0f0;
    color: darkorange;
}

#myflexbox {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin: 1rem 2rem;
}

.box {
    background-color: lightgray;
    align-items: center;
    text-align: center;
    justify-content: space-around;

    padding: 20px;
    margin: 0.5rem;
}

#special {
    background-color: rgb(255, 8, 0);
    /* flex-grow: 2;
    display: flex; */
    text-align: center;
}


img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}



@media only screen and (min-width: 600px) {

    body {
        background-color: green;
    }

    .box {
        width: 40%;
        background-color: rgb(58, 46, 224);
        align-items: flex-end;
        text-align: right;
        justify-content: space-around;
        padding: 20px;
        margin: 0.5rem;
    }
}



@media only screen and (min-width: 780px) {

    body {
        background-color: rgb(233, 255, 67);
    }

    section{
        display: flex;

    }

    article{
        width: 45%;
        margin-right: 1rem;
    }


    .box {
        width: 40%;
        background-color: rgb(224, 46, 102);
        align-items: flex-end;
        text-align: right;
        justify-content: space-around;
        padding: 20px;
        margin: 0.5rem;
    }
}

main {
    display: flex;
}

aside {
    background-color: lightgreen;

}

section {

    width: 70%;

}

article {
    background-color: rgb(158, 144, 238);
    height: 200px;

}